body{
   margin: 90px;
   padding: 0;
   font-family: 'Times New Roman', Times, serif;
   background-image: linear-gradient(rgba(32, 32, 31, 0.767),rgba(211, 113, 22, 0.74)); 
   background-attachment: fixed; 
}
.name{
    height: auto;
    width: 300px;
    box-shadow: 0px 0px 20px 10px rgba(34, 12, 2, 0.555);
    padding: 20px;
    margin: 8% auto 0px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(243, 243, 217, 0.952);
}
.name h1{
    color: rgba(51, 71, 250, 0.966);
    margin-bottom: 30px;
}
.a{
   border-radius: 10px; 
   padding: 10px;
   margin: 5px;
   width: 70%;
   border-color: rgb(132, 0, 255);
   
}
.button{
color: rgba(240, 241, 247, 0.863);
width: 150px;
padding: 4px;
font-size: medium;
font-weight: bold;
border-radius: 5px;
border: none;
outline: none;
cursor: pointer;
background-color: rgba(0, 47, 255, 0.877);
margin-bottom: 20px;
}
.button1{
    color: rgba(241, 248, 248, 0.87);
    width: 180px;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(9, 46, 94, 0.815);
    }
    hr{
        width: 300px;
        height: 2px;
    }
    .or{
        width: 30px;
        margin: -19px auto 20px;
        background: #fff;
    }